# SnowFlake Notebook Exercise (simultaneous Python and SQL)  
This is a simple Notebook exercise in SnowFlake to demonstrate the power of using both Python and SQL together for powerful results.  

To run it in SnowFlake you will need to register to get access at the official website - https://www.snowflake.com/en/

In the SnowFlake notebooks we have an integrated environment where we can write and execute cells with SQL, Python and Markdown in one place. That integration is also available in Jupyter Notebooks with SQL Magics, in Databricks Notebooks, Microsoft Fabric Notebook and Hex.

In this basic example, we use both the SQL to treat the data and get to a workable data table and then Python Pandas and Seaborn to visualize the data. 

Here is the path:
1) PYTHON: Importing libraries [pandas](https://pandas.pydata.org/) , [seaborn](https://seaborn.pydata.org/) and [matplotlib](https://matplotlib.org/)
2) SQL: Role, Warehouse, Database, Schema and copying  tables from another Database in SnowFlake
3) SQL: Using the funcion UNION ALL to create a new table with  population including 2021, that was in a table apart
4) SQL: Filtering the data for BRAZIL ('BRA')
5) PYTHON: Printing a bar graphic with the evolution of the Brazilian population from 1960 to 2021

#### 1. PYTHON: Importing libraries (pandas, seaborn and matplotlib)

In [ ]:
# Import python packages
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# We can also use Snowpark for our analyses!
#from snowflake.snowpark.context import get_active_session
#session = get_active_session()

#### 2. SQL: Role, Warehouse, Database, Schema and copying  tables from another Database in SnowFlake

In [ ]:
USE ROLE TRAINING_ROLE;
USE WAREHOUSE DOLPHIN_WH;
USE DATABASE DOLPHIN_DB;
USE SCHEMA ONU;

In [ ]:
-- 1. Loading the table CONTRY_POPULATIONS (typo kept) in DOLPHIN_DB.ONU
CREATE OR REPLACE TABLE "COUNTRY_POPULATIONS" AS
SELECT * FROM "UCM"."ONU"."CONTRY_POPULATIONS";

-- 2. Loading the table COUNTRIES in DOLPHIN_DB.ONU
CREATE OR REPLACE TABLE "COUNTRIES" AS
SELECT * FROM "UCM"."ONU"."COUNTRIES";

-- 3. Loading the table UCM.ONU.COUNTRY_POPULATIONS_2021 in DOLPHIN_DB.ONU
CREATE OR REPLACE TABLE "COUNTRY_POPULATIONS_2021" AS
SELECT * FROM "UCM"."ONU"."COUNTRY_POPULATIONS_2021";

#### 3. SQL: Using UNION ALL to create a new table with including population in 2021

In [ ]:
CREATE OR REPLACE TABLE complete_populations AS
SELECT *
FROM country_populations
UNION ALL
SELECT *
FROM country_populations_2021
order by YEAR DESC;

#### 4. SQL: Filtering the data for BRAZIL ('BRA')

In [ ]:
SELECT *       
FROM COUNTRIES
WHERE UPPER(COUNTRY) = 'BRAZIL';

In [ ]:
SELECT *
FROM complete_populations
WHERE COUNTRY_ID = 'BRA'
ORDER BY YEAR DESC;

#### 5. PYTHON: Printing a bar graphic with the evolution of the Brazilian population from 1960 to 2021

In [ ]:
# Then, we can use the python name to turn cell2 into a Pandas dataframe
my_df = cell12.to_pandas()

plt.figure(figsize=(10, 6))
sns.barplot(x='YEAR', y='POPULATION', data=my_df)
plt.title('Population by Country and Year')
plt.xlabel('Year')
plt.ylabel('Population (in millions)')
plt.xticks(rotation=60, ha='right', fontsize=8)

plt.tight_layout()
plt.show()